extends base
include mixins/video

block content
    each video in videos
        +video(video)
    else
        li There is no data to show. 
    input(placeholder="What's your name?")
    button Send