extends base
include mixins/video

block content
    form(method="GET")
        input(placeholder="Search by title of a video.", type="text", name="keyword")
        input(value="Search", type="submit")
    div
        each video in videos
            +video(video)