extends base

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(name="title" type="text", required, placeholder="title", maxlength=80)
        input(name="description" type="text", required, placeholder="description", minlength=20)
        input(name="hashtags" type="text", required, placeholder="hashtags")
        input(value="Upload a video" type="submit")